@charset "UTF-8";
body{
	font-family: Arial;
	background-image: url("https://images4.alphacoders.com/114/114066.jpg");
}
fieldset{
	width: 280px;
	margin: 0 auto;
	border: none;
	padding: 0 0 10px 0;
}
form{
	background-color: white;
	width: 280px;
	padding: 40px 10px 0 10px;
	margin: 0 auto;
	border-radius: 4px;
}
